.nav-item:hover{
    background-color: rgba(15, 20, 25, 0.1);
    cursor: pointer;
}
.nav-icon{
    width: 25px;
}
.nav-text{
    display: inline;
}
@media only screen and (max-width: 1200px) {
    .nav-text {
      display: none;
    }
    .nav-item {
        width: 40px;
    }
  }