.home-header{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
}
.home-settings-icon{
    height: 35px;
    width: 35px;
}
.home-settings-icon:hover{
    background-color: rgba(15, 20, 25, 0.1);
    cursor: pointer;
}
.home-tweet-settings{
    width: 20px;
}
