.sidebar-tweet-button{
    width: 95%;
    height: 50px;
    border: none !important;
    background-color: #1d9bf0 !important;
    font-weight:bold !important;
    font-size: 15px !important;
}
.sidebar-tweet-button:hover{
    background-color: #1a8cd8 !important;
}
.sidebar-small-button{
    width: 50px;
    height: 50px;
    border: none !important;
    background-color: #1d9bf0 !important;
    font-weight:bold !important;
    font-size: 15px !important; 
    fill: white;
    padding: 13px !important;
}
.tweet-button{
    width: 75px;
    height: 36px;
    border: none !important;
    background-color: #1d9bf0 !important;
    font-weight:bold !important;
    font-size: 15px !important;
}
.tweet-button:hover{
    background-color: #1a8cd8 !important;
}
.message-button{
    width: 95%;
    height: 50px;
    border: none !important;
    background-color: #1d9bf0 !important;
    font-weight:bold !important;
    font-size: 15px !important;
}
.message-button:hover{
    background-color: #1a8cd8 !important;
}
.FollowBtn{
    background-color: #0f1419 !important;
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 14px !important;
    border: none !important;
    min-width: 77px;
}
.FollowBtn:hover{
    background-color: #272c30 !important;
}
.setup-profile{
    background-color: white !important;
    border: rgba(15, 20, 25, 0.2) solid  1px !important;
    font-weight: 600 !important;
}
.setup-profile:hover{
    background-color: rgba(15, 20, 25, 0.1) !important;
}
