.twitter-icon{
    width: 50px;
    height: 50px;
}
.twitter-icon:hover{
    background-color:rgba(29, 155, 240, 0.1);
    cursor: pointer;
}
.twitter-icon svg{
    width: 30px;
    fill: #1d9bf0;
}
.profile-item{
    height: 62px;
}
.profile-item:hover{
    background-color: rgba(15, 20, 25, 0.1);
    cursor: pointer;
}
.profile-photo{
    width: 40px;
    height: 40px;
}
.profile-name{
    font-size: 15px;
}
.profile-nick{
    font-size: 15px;
}