.messages-header{
    font-size: 20px;
}
.messages{
    width: 40%;
}
.messages-button{
    width: 60%;
}
.message-box{
    width: 60%;
}
.message-box-button{
    width: 50%;
}
.messages-info{
    width: 85%;
}
.message-box-info{
    width: 60%;
}
@media screen and (max-width: 1200px) {
    .message-box{
        display: none;
    }
}