.trend-item{
    cursor: pointer;
}
.trend-item:hover{
    background-color: rgba(0, 0, 0, 0.03);
}
.about-item{
    font-size: 13px;
}
.name-item{
    font-size: 15px;
}
.tweet-count{
    font-size: 13px;
}
.icon-item{
    width: 30px;
    height: 30px;
    right: 10px;
}
.icon-item:hover{
    fill: #1d9bf0;
    background-color: rgba(29, 155, 240, 0.10);
}
.more-icon{
    width: 20px;
}