.who-follow-item{
    cursor: pointer;
}
.who-follow-item:hover{
    background-color:rgba(0, 0, 0, 0.03) ;
}
.follow-profile-photo{
    width: 50px;
    height: 50px;
}
.follow-profile-photo img{
    width: 48px;
    height: 48px;
}
.follow-profile-photo img:hover{
    filter: brightness(0.8) grayscale(0.2) contrast(1.2);
}
.follow-profile-name:hover{
    text-decoration:underline;
}
.follow-profile-name{
    font-size: 15px;
}
.follow-profile-nick{
    font-size: 15px;
}

